<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-container">
    <span class="footer-text textSM">
      <span>
        Enjoy this site for some reason? Somethings wrong with you. In any case,
        feel free to reach out on LinkedIn:
      </span>
    </span>
    <span class="footer-text2 textSM"></span>
    <span class="footer-text3 textSM">
      https://www.linkedin.com/in/torsitano/
    </span>
    <div class="footer-container1"></div>
    <span class="footer-text4 textSM">
      Copyright © 2022 Shawn Torsitano for a LinkedIn post, because
      procrastination is kind
    </span>
  </div>
</div>
